.div{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
    
}
.Login{
    position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   width: 50%;
   height: 50%;
   margin: auto;

}
.input{
    width: 50%;
    height: 30px;
    margin: 0.2rem;
    
}
.button{
    padding: 0.2em 1em;
  border: none;
  
  cursor: pointer;
}